<div>
  <% if collection.digitized_metadata_size_int && collection.size_int && collection.size_int > 0 %>
    <svg id="collection-pie" class="<%= collection.institution_id %>" width="85" height="90" viewbox="0 0 85 90">
      <% if collection.digitized_size_int > 0 %>
        <% end_angle = (collection.digitized_size_int.to_f / collection.size_int * 360).floor %>
        <path transform="rotate(-90,40,43)" d="<%= describe_pie_slice(40,43,38,0,end_angle, false) %>" class="digitised" style='stroke-width: 3px' />
      <% end %>
      <% end_angle = (collection.digitized_metadata_size_int.to_f / collection.size_int * 360).floor %>
      <% if end_angle >= 360 %>
        <circle cx="40" cy="43" r="38" class="pie full" />
      <% else %>
        <circle cx="40" cy="43" r="38" class="pie" />
        <path transform="rotate(-90,40,43)" d="<%= describe_pie_slice(40,43,38,0,end_angle) %>" class="slice">
      <% end %>
    </svg>
  <% else %>
    <svg id="collection-pie" class="<%= collection.institution_id %>" width="85" height="90" viewbox="0 0 85 90">
      <rect x="0" y="0" width="75" height="75" />
    </svg>
  <% end %>

</div>

