<% content_for :title, "Collections in the " %>

<h1>Collections</h1>

<% @collections.group_by(&:institution_id).sort.each_slice(3).each do |row| %>

  <div class="row">

    <% row.each do |group| %>
      <div class="one column inst-<%= group[0].downcase %>-bg center"><%= link_to group[0], institution_path(group[0]) %></div>

      <div class="three columns">
        <ul>
          <% group[1].sort_by(&:name).each do |collection| %>
            <li><%= link_to collection.name, collection_path(collection.id) %> <small>0,000 things</small></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>