<% content_for :title, "[collection name] - " %>

<div class="mapette-container">
	mapette vis
</div>

<div class="row">
	<div class="one column inst-mhs-bg center"><a href="#">MHS</a></div>
	<div class="eleven columns">
		<h1>[Collection Name]</h1>
		
	</div>
</div>
<div class="row">
	<div class="offset-by-one eight columns stats">

		<p>This collection mostly contains <a href="/types/show.html">type</a>, <a href="/types/show.html">type</a> and <a href="/types/show.html">type</a> things about <a href="/subjects/show.html">subject</a>, <a href="/subjects/show.html">subject</a> and <a href="/subjects/show.html">subject</a></a> from about <a href="/dates/show.html">YYYY</a> to <a href="/dates/show.html">YYYY</a>. &nbsp; <small>[ <a href="#">Expand</a> ]</small></p>
		<p><a href="/people/show.html">Person</a> and <a href="/people/show.html">Person</a> figure quite prominently. There are 4 other characters.  &nbsp; <small>[ <a href="#">Reveal</a> ]</small></p>	
	
	</div>
	<div class="three columns">
		<ul>
			<li>0,000 things</li>
			<li>23% have digital metadata</li>
			<li>2% have a digitised version</li>
		</ul>
	</div>
</div>
	

