<% content_for :title, "#{@collection.name} - " %>

<div class="mapette-container row">
	<div class="twelve columns mapette">
		mapette vis
	</div>
</div>

<div class="row">
	<div class="one column inst-<%= @collection.institution_id.downcase %>-bg center"><%= link_to @collection.institution_id, institution_path(@collection.institution_id) %></div>
	<div class="eleven columns">
		<h1 class="buffer"><%= @collection.name %></h1>
	</div>
</div>
<div class="row">
	<div class="offset-by-one eight columns blurb">

		<p>
			This collection mostly contains <a href="/types/show.html">type</a>, <a href="/types/show.html">type</a> and <a href="/types/show.html">type</a> things about <a href="/subjects/show.html">subject</a>, <a href="/subjects/show.html">subject</a> and <a href="/subjects/show.html">subject</a></a> from about <a href="/dates/show.html">YYYY</a> to <a href="/dates/show.html">YYYY</a>. Materials are either from or about <a href="/places/show.html">Place</a> and <a href="/places/show.html">Place</a>.

			&nbsp; <small>[ <a href="#">Expand</a> ]</small>
		</p>

		<p>
			<a href="/people/show.html">Person</a>, <a href="/people/show.html">Person</a> and <a href="/people/show.html">Person</a> figure quite prominently. There are 0,000 other characters.
			&nbsp; <small>[ <a href="#">Reveal</a> ]</small>
		</p>

		<h3>0,000 things</h3>

		<ol>
			<li><a href="#">Thing</a></li>
			<li><a href="#">Thing</a></li>
		</ol>

	</div>
	<div class="three columns stats">

		<div class="pie center">
			enlarged SVG of circle/pie for this thing
		</div>

		<h6>STATS</h6>
		<ul>
			<li><%= pluralize_with_delimiter(@collection.size_int, 'thing') %></li>
			<li>23% have digital metadata</li>
			<li>2% have a digitised version</li>
		</ul>
	</div>
</div>


