<% content_for :title, "Welcome to the " %>

<%= javascript_include_tag('blobviz') %>

<h1>Welcome.</h1>
<div class="row">
  <div class="eight columns">
    <p>There are hundreds of <a href="/collections">collections</a> held in the museums, libraries and gardens across Oxford. What you see below is a map of almost 380 of those collections. Interact with the map to see collection size, or choose a filter to find out which collections hold what...</p>
    <form>
      <select>
        <option selected>Choose a filter...</select>
      </select>
      <select>
        <option selected>Then you'll see options here...</select>
      </select>
      &nbsp;
      <a href="#">Clear</a>
    </form>
  </div>
  <div class="four columns key">
    <h6>KEY</h6>
    <span class="inst-ash-bg">Ashmolean Museum</span>
    <span class="inst-bod-bg">Bodleian Libraries</span>
    <span class="inst-mhs-bg">Museum of the History of Science</span>
    <span class="inst-mnh-bg">Museum of Natural History</span>
    <span class="inst-prm-bg">Pitt-Rivers Museum</span>
    <span class="inst-hrb-bg">Oxford University Herbaria</span>
  </div>
</div>

<div id="blobviz"></div>

<h5>What am I looking at?</h5>

<div class="row">
	
	<div class="offset-by-one three columns right">
		<p style="margin-top: 20px; margin-bottom: 0;">Each collection is represented as a circle or a square. A circle means we know how big it is, and a square means we don't.</p>
		<h6 style="margin-top: 0" title="instructions about the graphic">&rarr;</h6>
	</div>
	<div class="offset-by-one three columns">
		svg example, maybe greyscale
	</div>
	<div class="offset-by-one three columns">
		<h6>&larr;</h6>
		<p>If we know how many things in the collection have a digital metadata record, we draw proportion as a piece of pie.</p>
	</div>
</div>
