<% content_for :title, "Welcome to the " %>

<%= javascript_include_tag('blobviz') %>

<style>
.legend {
	background-color: #002b36;
}
.legend > div {
	padding: 5px;
	text-align:center;
}

.legend .upper {
  margin-top: 10px;
  height: 50px;
  margin-left: 40%;
}

.legend .lower {
}
.pie {
  width: 150px; height: 150px;
  border-radius: 50%;
  background: #657b83;
  opacity: .5;
}
.legend-pie-on {
  width: 40px; height: 40px;
  border-radius: 50%;
  background: #657b83;
}
.legend-pie-part {
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  background: rgba(101,123,131,0.5);
  background-image:
  linear-gradient(to right, transparent 50%, #657b83 0);
}
.legend-pie-part::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background: #657b83;
  transform-origin: left;
  transform: rotate(.1turn);
}
.legend-pie-off {
  width: 40px; height: 40px;
  border-radius: 50%;
  background: #657b83;
  opacity: .5;
}
.legend-square {
  margin-left: 10px;
  margin-top: 15px;
    margin-bottom: 0;
  width: 30px; height: 30px;
  background: #657b83;
  opacity: .25;
}
</style>

<h1 class="center welcome">Welcome to the Oxford Collection Map</h1>
<div class="row">
	<div class="eight columns blurb">
    	<p>Below you'll see a map of the hundreds of <a href="/collections">collections</a> held in the various institutional collections across Oxford. Try filtering the map by <em>Type of Thing</em>, <em>University Department</em>, or <em>Subject</em>. If you prefer, you can also simply noodle around by <a href="/subjects">subject</a>, <a href="/item_types">type of thing</a> or <a href="/institutions">institution</a>, if you like.</p>

    <h5>Legend</h5>

	</div>
	
	<div class="four columns center key">
		<h6>Libraries, Museums & Gardens</h6>
		<span class="inst-ash-bg"><a href="/institutions/ASH">Ashmolean Museum</a></span>
		<span class="inst-bod-bg"><a href="/institutions/BOD">Bodleian Libraries</a></span>
		<span class="inst-mhs-bg"><a href="/institutions/MHS">Museum of the History of Science</a></span>
		<span class="inst-mnh-bg"><a href="/institutions/MNH">Museum of Natural History</a></span>
		<span class="inst-prm-bg"><a href="/institutions/PRM">Pitt Rivers Museum</a></span>
		<span class="inst-hrb-bg"><a href="/institutions/HRB">Oxford University Herbaria</a></span>
	</div>
</div>

<div class="row legend">
  <div class="three columns">
    <div class='upper'>
      <div class="legend-pie-off"></div>
    </div>
    <div class='lower'>A collection</div>
  </div>
  <div class="three columns">
    <div class='upper'><div class="legend-pie-part"></div></div>
    <div class='lower'>Some metadata is online</div>
  </div>
  <div class="three columns">
    <div class='upper'>
      <div class="legend-pie-on">
        <svg width='50' height='40'>
          <path transform="rotate(-90,20,20)" d="<%= describe_pie_slice(20,20,20,0,120, false) %>" stroke-width='2' stroke='#fdf6e3' fill='none' class="slice">
        </svg>
      </div> 
    </div>
    <div class='lower'>Some digitised materials</div>
  </div>
  <div class="three columns">
    <div class='upper' style='height: 45px;'><div class="legend-square"></div></div>
    <div class='lower'>A collection, but we aren't sure of size</div>
  </div>		
</div>

<div class="row toolbar">
  <div class="nine columns">    
    <form id='selectors'>
      <select id="key">
		  	<option selected>Choose a filter...</option>
        <option value="types_of_things">Type of thing</option>
        <option value="academic_departments">Division & Academic Department</option>
        <option value="subjects">Subject</option>
		  </select>
		  <select id="value">
			<option selected>then more options will come up here</option>
		  </select>
		  &nbsp;
		  <a href="#" class='clear-link'>Clear</a>
		</form>
	</div>
	<div class="three columns right">
		<a href="doesn't work yet" class="pretend">Show collection size</a>?
	</div>
</div>


<div id="blobviz"></div>

<br clear="all" />
<br clear="all" />
<br clear="all" />

<h5>What am I looking at?</h5>

<div class="row">
	<div class="offset-by-one three columns right">
		<p style="margin-top: 20px; margin-bottom: 0;">Each collection is represented as a circle or a square. A circle means we know how big it is, and a square means we don't.</p>
		<h6 style="margin-top: 0" title="instructions about the graphic">&rarr;</h6>
	</div>
	<div class="offset-by-one three columns center">			
		<div class="pie"></div>	
	</div>
	<div class="three columns">
		<h6>&larr;</h6>
		<p>If we know how many things in the collection have a digital metadata record, we draw proportion as a piece of pie.</p>
	</div>

</div>

<div id="blobviz-hud">
  <div class="collection"></div>
  <h2></h2>
  <h1></h1>
  <div class='size'></div>
  <div class='dig_size'></div>
</div>


