<% content_for :title, "About this work on " %>

<% content_for :structural_nav do %>
  &rarr; About
<% end %>


<h1>About this work</h1>

<div class="blurb">
	
	<p>This Collections @ Oxford prototype is a first attempt at illustrating collections across Oxford University, and illuminating how many of those collections have metadata online.</p>
		
	<p>We have gathered and processed item-level metadata from across the University, in a variety of formats, and put it all into a search engine. The tricky part is that we don't have item-level data for <em>everything</em>, and probably won't for years and years. Therefore, we also needed a way to describe all the collections we know exist, but for which we have no metadata.</p>
	
</div>

<h6>The Team</h6>

<div class="row">
	<div class="six columns">		
		<p>
			<b><a href="http://gfns.uk">Good, Form & Spectacle</a></b><br />
			<small><em>Interface design, data processing, software engineering</em></small>
			<br />
			George Oates, Frankie Roberto, Tom Armitage, Rufus Pollock
		</p>
	</div>
	<div class="six columns">
		
		<p>
			<b><a href="http://www.athenaeum21.com">Athenaeum 21</a></b><br />
			<small><em>Project management, data gathering, user research</em></small>
			<br />
			Christine Madsen, Megan Hurst
		</p>
		
	</div>

</div>