@import "colour_variables";

/* ASH */
.inst-ash {
  color: $inst_ash !important;
}

.inst-ash-bg {
  background: $inst-ash;
  color: $inst_label;
}

.inst-ash-bg a {
	color: $base03;
	text-decoration:none;
}

.inst-ash-bg a:hover {
	color: $base3;
}

/* BOD */
.inst-bod {
  color: $inst_bod !important;
}

.inst-bod-bg {
  background: $inst_bod;
  color: $inst_label;
}

.inst-bod-bg a {
	color: $base03;
	text-decoration:none;
}

.inst-bod-bg a:hover {
	color: $base3;
}

/* BOD SPECIAL */
.inst-bod-sp {
  color: $inst_bod_sp !important;
}

.inst-bod-sp-bg {
  background: $inst_bod_sp;
  color: $inst_label;
}

.inst-bod-sp-bg a {
	color: $base03;
	text-decoration:none;
}

.inst-bod-sp-bg a:hover {
	color: $base3;
}

/* HRB */

.inst-hrb {
  background-color: $inst_hrb !important;
}

.inst-hrb-bg {
  background-color: $inst_hrb;
  color: $inst_label;
}

.inst-hrb-bg a {
	color: $base03;
	text-decoration:none;
}

.inst-hrb-bg a:hover {
	color: $base3;
}

/* MHS */

.inst-mhs {
  background-color: $inst_mhs !important;
}

.inst-mhs-bg {
  background-color: $inst_mhs;
  color: $inst_label;
}

.inst-mhs-bg a {
	color: $base03;
	text-decoration:none;
}

.inst-mhs-bg a:hover {
	color: $base3;
}

/* MNH */

.inst-mnh {
  background-color: $inst_mnh !important;
}

.inst-mnh-bg {
  background-color: $inst_mnh;
  color: $inst_label;
}

.inst-mnh-bg a {
	color: $base03;
	text-decoration:none;
}

.inst-mnh-bg a:hover {
	color: $base3;
}

/* OBG */

.inst-obg {
  background-color: $inst_obg !important;
}

.inst-obg-bg {
  background-color: $inst_obg;
  color: $inst_label;
}

.inst-obg-bg a {
	color: $base03;
	text-decoration:none;
}

.inst-obg-bg a:hover {
	color: $base3;
}

/* PRM */

.inst-prm {
  background-color: $inst_prm !important;
}

.inst-prm-bg {
  background-color: $inst_prm;
  color: $inst_label;
}

.inst-prm-bg a {
	color: $base03;
	text-decoration:none;
}

.inst-prm-bg a:hover {
	color: $base3;
}
