$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;


    /* ASH */
    .inst-ash {
      color: #b58900 !important;
    }

    .inst-ash-bg {
      background: #b58900;
      color: #002b36;
    }

    /* BOD */
    .inst-bod {
      color: #6c71c4 !important;
    }

    .inst-bod-bg {
      background: #6c71c4;
      color: #002b36;
    }

    /* BOD SPECIAL */
    .inst-bod-sp {
      color: #cb4b16 !important;
    }

    .inst-bod-sp-bg {
      background: #cb4b16;
      color: #002b36;
    }

    /* HRB */

    .inst-hrb {
      background-color: #859900 !important;
    }

    .inst-hrb-bg {
      background-color: #859900;
      color: #002b36;
    }
    
    /* MHS */

    .inst-mhs {
      background-color: #dc322f !important;
    }

    .inst-mhs-bg {
      background-color: #dc322f;
      color: #002b36;
    }

    /* MNH */

    .inst-mnh {
      background-color: #268bd2 !important;
    }

    .inst-mnh-bg {
      background-color: #268bd2;
      color: #002b36;
    }
    
    /* OBG */

    .inst-obg {
      background-color: #2aa198 !important;
    }

    .inst-obg-bg {
      background-color: #2aa198;
      color: #002b36;
    }
    

    /* PRM */

    .inst-prm {
      background-color: #d33682 !important;
    }

    .inst-prm-bg {
      background-color: #d33682;
      color: #002b36;
    }