.container { 
}

header {
	border-bottom: 2px solid #002b36;
	padding: 10px 0;
	margin-bottom: 20px;
}

footer {
	border-top: 2px solid #002b36;
	padding: 10px 0;
	margin-top: 20px;
	margin-bottom: 50px;	
}

h1, h2, h3, h4, h5, h6 {
  color: #eee8d5; 
}
h6 {
	margin-bottom: 0;
}
a {
  color: #fdf6e3; 
}
a:hover {
  color: #268bd2; 
}
select {
	color: #002b36;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}

/* home */
.key span { 
	padding: 3px;
}

/* collection */
.mapette-container {
	margin-top: -20px;
	background-color: #002b36;
	padding: 10px;
}
.pie {
	margin-bottom: 20px; 
}
.blurb p {
	font-size: 1.25em;
}
.stats {
	padding-top:10px; 
}
.stats li {
	line-height: 1.25em;	
}