.container {
}

header {
	border-bottom: 2px solid #002b36;
	padding: 10px 0;
	margin-bottom: 20px;
}

footer {
	border-top: 2px solid #002b36;
	padding: 10px 0;
	margin-top: 20px;
	margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
  color: #eee8d5;
}
h6 {
	margin-top: 5px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
h6.home {
	text-transform:none;
}
img {
	border:0;
}
ul {
	list-style-type: none;
}

a {
	color: #eee8d5;
	text-decoration: none;
	border-bottom: 1px dotted #eee8d5;
}

a.selected {
  color: #839496;
}
a:hover {
	color: #268bd2;
	text-decoration: none;
	border-bottom: 1px solid #268bd2;
}

select {
	color: #002b36;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
.dark {
	color: #657b83;
}
.pretend { color: red; }

/* home */
.key span {
	padding: 3px;
}
.toolbar {
	border-top: 2px solid #002b36;
	border-bottom: 2px solid #002b36;
	padding: 10px 0;
	margin-bottom: 20px;
}

.toolbar form {
	padding-top: 15px;
	margin-bottom:0;
	padding-bottom:0;
}

/* list page */

.top-list a {
	font-size: 1.5em;
}

/* collection */
.mapette-container {
	margin-top: -20px;
	background-color: #002b36;
	padding: 10px;
}
.buffer {
	padding-top: 10px;
}
.welcome {
	padding-top: 20px;
	padding-bottom: 20px;
}

.blurb p {
	font-size: 1.25em;
}
.pie {
	margin-bottom: 20px;
}
.stats {
	padding-top:10px;
}
.stats h6 {
	margin-bottom: 0; margin-top: 30px;
}
.stats ul {
	list-style-type: disc;
}
.stats li {
	line-height: 1.25em;
}

