.container { 
}

header {
	border-bottom: 2px solid #002b36;
	padding: 10px 0;
	margin-bottom: 20px;
}

footer {
	border-top: 2px solid #002b36;
	padding: 10px 0;
	margin-top: 20px;
	margin-bottom: 50px;	
}

h1, h2, h3, h4, h5, h6 {
  color: #eee8d5; 
}
h6 {
	margin-top: 5px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
h6.home {
	text-transform:none;
}
.stats h6 {
	margin-bottom: 0; margin-top: 20px;
}
ul {
	list-style-type: none;
}
a {
  color: #eee8d5; 
  text-decoration: none;
}
a:hover {
  color: #268bd2; 
}
select {
	color: #002b36;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
.dark {
	color: #657b83;
}

/* home */
.key span { 
	padding: 3px;
}
.toolbar {
	border-top: 2px solid #002b36;
	border-bottom: 2px solid #002b36;
	padding: 10px 0;
	margin-top: 20px;
	margin-bottom: 20px;	
}


.toolbar form {
	margin-bottom:0;
	padding-bottom:0;
}


/* collection */
.mapette-container {
	margin-top: -20px;
	background-color: #002b36;
	padding: 10px;
}
.buffer {
	margin-top: 20px;
}
.blurb p {
	font-size: 1.25em;
}
.pie {
	margin-bottom: 20px; 
}
.stats {
	padding-top:10px; 
}
.stats li {
	line-height: 1.25em;	
}

/* Person */

.collection-in-list {
	line-height: 1.25em;
}

