@import "colour_variables";
/* collection pie charts */

#collection-pie {
  circle {
    opacity: 0.5;
    &.full {
      opacity: 1;
    }
  }

  path.slice {
    opacity: 1;
  }
  
  path.digitised {
    fill: none;
    opacity: 1;
    stroke: $base3;
    stroke-width: 6px;
  }

  &.ASH {
    circle, path.slice {
      fill: $inst_ash;
    }
  }
  &.BOD {
    circle, path.slice {
      fill: $inst_bod;
    }
  }
  &.MHS {
    circle, path.slice {
      fill: $inst_mhs;
    }
  }
  &.MNH {
    circle, path.slice {
      fill: $inst_mnh;
    }
  }
  &.PRM {
    circle, path.slice {
      fill: $inst_prm;
    }
  }
}


span {
  &.digitised-em {
    color: $base3;
  }
  &.ASH-em {
    color: $inst_ash;
  }
  &.BOD-em {
    color: $inst_bod;
  }
  &.MHS-em {
    color: $inst_mhs;
  }
  &.MNH-em {
    color: $inst_mnh;
  }
  &.PRM-em {
    color: $inst_prm;
  }
  &.total-count {
    opacity: 0.6;
  }
}


